@font-face {
  font-family: "iconfont"; /* Project id 2888276 */
  src: url('//at.alicdn.com/t/font_2888276_99337vev88l.woff2?t=1637547795134') format('woff2'),
       url('//at.alicdn.com/t/font_2888276_99337vev88l.woff?t=1637547795134') format('woff'),
       url('//at.alicdn.com/t/font_2888276_99337vev88l.ttf?t=1637547795134') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e686";
}

.icon-banji:before {
  content: "\e657";
}

.icon-nvsheng:before {
  content: "\e618";
}

.icon-qianming:before {
  content: "\e611";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-shoucang2:before {
  content: "\e61b";
}

.icon-wenjianjia:before {
  content: "\e610";
}

.icon-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-shimingrenzheng:before {
  content: "\e65c";
}

.icon-shanchuwenjian:before {
  content: "\e604";
}

.icon-weixin1:before {
  content: "\e62e";
}

.icon-weixin:before {
  content: "\e634";
}

.icon-hangye1:before {
  content: "\e656";
}

.icon-shuxie:before {
  content: "\e63f";
}

.icon-tianjia:before {
  content: "\e614";
}

.icon-write:before {
  content: "\e602";
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-qiuzhizhuangtai:before {
  content: "\e674";
}

.icon-zaixianjianli:before {
  content: "\e627";
}

.icon-fujianjianli:before {
  content: "\e631";
}

.icon-xuanzeqixiayige:before {
  content: "\eb15";
}

.icon-jinrong-yinhang:before {
  content: "\e617";
}

.icon-toudifankui:before {
  content: "\e62d";
}

.icon-wodeshoucang:before {
  content: "\e60f";
}

.icon-zaizhi:before {
  content: "\e6a8";
}

.icon-position:before {
  content: "\e60b";
}

.icon-fenxiang1:before {
  content: "\e8b0";
}

.icon-shoucang1:before {
  content: "\e6fc";
}

.icon-liulanliang:before {
  content: "\e6a3";
}

.icon-biaoqian:before {
  content: "\e655";
}

.icon-yifukuan:before {
  content: "\e613";
}

.icon-daifukuan:before {
  content: "\e633";
}

.icon-tuikuanguanli:before {
  content: "\e616";
}

.icon-quanbudingdan:before {
  content: "\e632";
}

.icon-xiala:before {
  content: "\e612";
}

.icon-dengji:before {
  content: "\e629";
}

.icon-jiage:before {
  content: "\e600";
}

.icon-icon_category:before {
  content: "\e61e";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-fenxiang:before {
  content: "\e60e";
}

.icon-shoucang:before {
  content: "\e90d";
}

.icon-xindong:before {
  content: "\e721";
}

.icon-jubao:before {
  content: "\e601";
}

.icon-wode:before {
  content: "\e60d";
}

.icon-wode1:before {
  content: "\e62b";
}

.icon-xiaoxi2:before {
  content: "\e67c";
}

.icon-xiaoxi3:before {
  content: "\e603";
}

.icon-icon_fabu:before {
  content: "\eb88";
}

.icon-fabusekuai:before {
  content: "\ec46";
}

.icon-zhuye:before {
  content: "\e605";
}

.icon-zhuye1:before {
  content: "\e60c";
}
